.ios, .md {

    home-page {

        scroll-content {
            display: flex;
            flex-direction: column;
        }

        ion-row {
            align-items: center;
            text-align: center;
        }

        ion-item {
            border-radius: 5px !important;
            padding-left: 10px !important;
            margin-bottom: 7px;
            background-color: transparent;
            font-size: 1em;
        }

        ion-list {
            margin: 0;
        }

        .text-input::-moz-placeholder {
          color: white;
        }

        .text-input:-ms-input-placeholder {
          color: white;
        }
        .text-input::-webkit-input-placeholder {
          text-indent: 0;
          color: white;
        }

        .message-form {
            flex: 1;
            margin-top: 10%;
        }

        .send-button {
            border-radius: 5px;
            font-size: 0.9em;
            color: white;
            background-color: #497500;
            opacity: 0.8;
            box-shadow: none;
        }
        .ion-md-settings, .ion-md-power, .ion-md-trash {
          color: #497500;
        }
        .action-sheets-basic-page {

            .ion-md-trash {
              color: #757575;
            }
            .action-sheet-destructive {
              color: #757575;
              background-color: #160746;
            }

        }
        .rojo {
          color: #ff0000;
        }

    }



}
