// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.platform-android {
  .ion-page {
    ion-header {
      padding-top: $cordova-md-statusbar-padding;
    }
  }
}

@font-face {
  font-family: 'KOMIKA HAND';
  src: url("../assets/fonts/trench100free.ttf") format('truetype');
}

.ios, .md {

  ion-content {
    background: -webkit-gradient(linear, left bottom, right top, from(#95c120), to(#EAFAC2)) fixed;
    //background: #ffffff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }

  .bar-buttons,
  ion-header ion-icon.back-button-icon.icon {
    color: #497500;
  }
  .toolbar-title {
    color: #497500;
    font-size: 3em;
  }
  ion-header {
    //background: #95c120;
  }
  .greenLogo {
    heigth: auto;
    width: 30vw;
    //align-items: center;
    padding-top: 10%;
    margin: auto;
    display: block;
  }
  ion-content {
    font-family: 'KOMIKA HAND';
    font-weight: bold;
  }


}
